*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    color: rgb(12,124,236);
    border-bottom: 3px solid rgb(12,124,236);
}

.my-position{
    position: absolute;
    top: 135px;
}
//------------------------------------------------header
header{
    nav{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            display: block;
            height: 80px;
        }
        div{
            ul{
                display: flex;
                height: 80px;

                li{
                    margin: 0 10px;
                    height: 98px;
                    font-size: 12px;
                    font-weight: bold;
                    list-style-type: none;
                    padding: 35px 0;
                    
                    a{
                        text-decoration: none;
                    }
                    &:hover{
                        color: rgb(12,124,236);
                        border-bottom: 3px solid rgb(12,124,236);
                    }
                }
            }
        }
    }
}
//------------------------------------------------------------main
main{
    background-color: #333;
    div{
        color: white;
        width: 100%;
    }
    #footer-main{
        background-color: rgb(12,124,236);
        width: 100%;
        padding: 2em 5rem;
        position: relative;
        z-index: 99;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style-type: none;
                display: flex;
                align-items: center;
                font-size: 10px;
                
                img{
                    width: 50px;
                    display: block;
                    margin-right: 1em;
                }
            }
        }
    }
}
//------------------------------------------------------------footer
footer{
    #up-footer{
        background-image: url('../../public/vue-dc-comics-1/img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 4rem 0;
        .container{
            display: flex;
            img{
                position: absolute;
                width: 450px;
                top: 253px;
                right: 250px;
                z-index: 1;
            }
            #footer-list{
                position: relative;
                display: flex;
                ul{
                    color: white;
                    h3{
                        font-size: 20px;
                    }
                    li{
                        list-style-type: none;
                        color: gray;
                        font-size: 10px;
                        cursor: pointer;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    #down-footer{
        background-color: rgb(48,48,48);
        position: relative;
        z-index: 99;
        .container{
            display: flex;
            justify-content: space-between;
            padding: 3rem;
            div{
                button{
                    background-color: transparent;
                    color: white;
                    border: 2px solid rgb(12,124,236);
                    padding: 5px 10px
                }
            }
            div{
                display: flex;
                align-items: center;
                span{
                    color: rgb(12,124,236);
                    font-weight: bold;
                    font-size: 20px;
                    margin-right:1rem ;
                }
                img{
                    margin: 0 0.5rem;
                    &:hover{
                        filter: brightness(100);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}